.monster-name-results {
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
}
  .monster-name {
    padding: 0.5em;
    border: 1px solid #aaaaaa;
    background-color: #dddddd;
  }
    .monster-name:hover {
      background-color: #bbbbbb;
      cursor: pointer;
    }

.remove-button {
  padding: 0.5em;
  border: 1px solid #aa0000;
  background-color: #ee9999;
}
  .remove-button:hover {
    background-color: #eebbbb;
    cursor: pointer;
  }

.list {
  margin-left: 0.5em;
}
  .list .list-item {

  }
    .list .list-item .item-name {
      font-weight: bold;
    }

.roll {
  cursor: pointer;
}
.roll:hover {
  background-color: #dddddd;
}

.monster {
  position: relative;
  float: left;
  width: 20em;
}
  .remove-monster {
    position: absolute;
    top: 0;
    right: 0;
  }
  .monster-ac {
    position: absolute;
    top: 2em;
    right: 0;
    height: 3.3em;
    width: 3em;
    background-image: url('/img/ac.png');
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 3.3em;
    text-align: center;
    font-size: 1.5em;
  }
  .monster-speed {
    position: absolute;
    top: 7em;
    right: 0;
    height: 1.2em;
    width: 3em;
    line-height: 1.2em;
    text-align: right;
    font-size: 1.2em;
  }
    .monster-speed .ground-speed {
      background-image: url('/img/ground.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .monster-speed .fly-speed {
      background-image: url('/img/fly.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .monster-speed .swim-speed {
      background-image: url('/img/swim.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .monster-speed .climb-speed {
      background-image: url('/img/climb.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .monster-speed .burrow-speed {
      background-image: url('/img/burrow.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  .monster-image {
    display: block;
    width: 50%;
    margin: auto;
  }
  .toggle {
    cursor: pointer;
  }
  .stats::after {
    content: '';
    display: block;
    clear: both;
  }
    .stat {
      float: left;
      width: 40%;
      padding: 0.2em 5%;
    }
      .stat .stat-name {
        display: block;
        float: left;
        width: 30%;
        font-weight: bold;
      }
      .stat .stat-value {
        display: block;
        float: left;
        width: 30%;
        text-align: right;
      }
      .stat .stat-modifier {
        display: block;
        float: left;
        width: 30%;
        text-align: right;
      }
  .actions {

  }
    .action {
      padding: 0.5em 1em;
    }
      .action .action-name {
        font-weight: bold;
      }
  .creature-details {
    margin: 2.1em 0;
  }
    .identifier {
      margin: 0.5em;
    }
    .health-modifier-button {
      padding: 0.5em;
      border: 1px solid #aaaaaa;
      background-color: #dddddd;
    }
      .health-modifier-button:hover {
        background-color: #bbbbbb;
        cursor: pointer;
      }
    .health {
      padding: 1em;
      border: 1px solid #aa0000;
      border-radius: 2em;
      background-color: #ee5555;
    }
  .remove-creature {
    margin-left: 0.5em;
  }
  .add-creature {
    width: 1em;
    padding: 0.5em;
    border: 1px solid #00aa00;
    background-color: #99ee99;
  }
    .add-creature:hover {
      background-color: #bbeebb;
      cursor: pointer;
    }

.dice-rolls {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  z-index: 1;
}
  .dice-rolls .dice-roll {
    width: 10em;
    padding: 0.5em;
    border: 1px solid;
    overflow-wrap: break-word;
  }
    .dice-rolls .dice-roll .roll-total {
      font-weight: bold;
      font-size: 1.5em;
    }
