.toggle {
  cursor: pointer;
}

.remove-button {
  padding: 0.5em;
  border: 1px solid #aa0000;
  background-color: #ee9999;
}
  .remove-button:hover {
    background-color: #eebbbb;
    cursor: pointer;
  }

.list {
  margin-left: 0.5em;
}
  .list .list-item {

  }
    .list .list-item .item-name {
      font-weight: bold;
    }

.roll {
  color: #0000dd;
  cursor: pointer;
}
.roll:hover {
  background-color: #8888dd;
}

.dice {
  float: left;
  width: 16%;
  cursor: pointer;
}

.critical-success {
  color: #00ff00;
  font-weight: bold;
}
.critical-fail {
  color: #ff0000;
  font-weight: bold;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.card-body {
  padding: 0.5rem;
}

.monster-search {
}
  .monster-search .monster-results {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    list-style: none;
    z-index: 10;
  }
    .monster-search .monster-result:hover, .monster-search .monster-result.selected {
      background-color: #bbbbbb;
      cursor: pointer;
    }

.initative-tracker {
}
  .initative-tracker .initative-row {
    padding: 0.5em;
    background-color: #dddddd;
  }
  .initative-tracker .initative-row:nth-child(2n) {
    background-color: #eeeeee;
  }
  .initative-tracker .initative-row.current {
    background-color: #ddffdd;
  }
  .initative-tracker .initative-row::after {
    content: '';
    display: block;
    clear: both;
  }
    .initative-tracker .monster-name {
    }
    .initative-tracker .monster-initative {
      float: right;
      text-align: right;
      font-weight: bold;
    }
    .initative-tracker .remove-initative {
      float: right;
      margin-left: 1em;
    }

.dice-roll-toggle {
  position: relative;
  float: right;
  height: 100vh;
  width: 3em;
  padding: 0 0.2em;
  background-color: #eeeeee;
}
.dice-roll-toggle:hover {
  background-color: #bbbbbb;
  cursor: pointer;
}
  .dice-roll-toggle .arrow {
    position: absolute;
    top: 50%;
    left: 40%;
  }
  .dice-roll-toggle .arrow::after {
    content: '';
    display: block;
    clear: both;
  }
.dice-rolls {
  float: right;
  height: 100vh;
  background-color: #eeeeee;
  overflow-y: scroll;
}
  .dice-rolls .dice-roll {
    width: 15em;
    padding: 0.5em;
    background-color: #dddddd;
    overflow-wrap: break-word;
  }
  .dice-rolls .dice-roll:nth-child(2n) {
    background-color: #eeeeee;
  }
    .dice-rolls .dice-roll .roll-name {
      display: block;
    }
    .dice-rolls .dice-roll .roll-total {
      font-weight: bold;
      font-size: 1.5em;
    }

.monster-area {
}
  .monster-area .monster.current .card-header {
    background-color: #ddffdd;
  }
  .monster-area .monster.selected .card-header {
    background-color: #ffdddd;
  }
  .monster-area .monster.current.selected .card-header {
    background-color: #ffffaa;
  }

.monsters-info {
}
  .monsters-info .monster {
    margin-bottom: 0.5em;
    background-color: #fdf1dc;
    z-index: 1;
  }
  .monsters-info .remove-monster {
    position: absolute;
    top: 0.1em;
    right: 0.1em;
  }
  .monsters-info .monster-image {
    float: left;
    width: 10%;
  }
  .monsters-info .monster-ac {
    height: 3.3em;
    width: 3em;
    background-image: url('/img/ac.png');
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 3.3em;
    text-align: center;
  }
  .monsters-info .stats {
    font-size: 0.8em;
  }
  .monsters-info .stats::after {
    content: '';
    display: block;
    clear: both;
  }
        .monsters-info .stat .stat-proficient {
          display: block;
          float: left;
          width: 10%;
          text-align: right;
          font-weight: bold;
        }
        .monsters-info .stat .stat-name {
          display: block;
          float: left;
          width: 50%;
          font-weight: bold;
        }
        .monsters-info .stat .stat-modifier {
          display: block;
          text-align: right;
        }
  .monsters-info .creature-details {
    position: relative;
    margin: 0.5em 0em;
  }
    .monsters-info .identifier {
      margin: 0em;
      padding: 0.5em;
      font-size: 0.8em;
    }
    .monsters-info .health-modifier-button {
      padding: 0.5em;
      border: 1px solid #aaaaaa;
      background-color: #dddddd;
    }
      .monsters-info .health-modifier-button:hover {
        background-color: #bbbbbb;
        cursor: pointer;
      }
    .monsters-info .health {
      position: relative;
      margin-left: 2em;
      padding: 1em;
      width: 4em;
      background-image: url('/img/heart-empty.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      text-align: center;
    }
      .monsters-info .health .health-remaining {
        position: absolute;
        bottom: 0;
        left: 0;
  clear: both;
        display: block;
        width: 100%;
        background-color: #ee5555;
        z-index: -1;
      }
      .monsters-info .health .health-edit {
        width: 3em;
      }
  .monsters-info .remove-creature {
    position: absolute;
    bottom: 1em;
    right: 0.1em;
  }
  .monsters-info .add-creature {
    width: 2em;
    padding: 0.5em;
    border: 1px solid #00aa00;
    background-color: #99ee99;
  }
    .monsters-info .add-creature:hover {
      background-color: #bbeebb;
      cursor: pointer;
    }

.monster-info {
}
  .monster-info hr {
    border: solid 1px #e69a28;
  }
  .monster-info .monster-ac {
    float: right;
    height: 3.3em;
    width: 3em;
    margin: auto;
    background-image: url('/img/ac.png');
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 3.3em;
    text-align: center;
    font-size: 1.5em;
  }
  .monster-info .monster-image {
    float: left;
    width: 25%;
  }
  .monster-info .monster-speed {
    clear: right;
    float: right;
    height: 1.2em;
    width: 4em;
    line-height: 1.2em;
    font-size: 1.5em;
    text-align: right;
  }
    .monster-info .monster-speed .ground-speed {
      background-image: url('/img/ground.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .monster-info .monster-speed .fly-speed {
      background-image: url('/img/fly.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .monster-info .monster-speed .swim-speed {
      background-image: url('/img/swim.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .monster-info .monster-speed .climb-speed {
      background-image: url('/img/climb.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .monster-info .monster-speed .burrow-speed {
      background-image: url('/img/burrow.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  .monster-info .monster-size {
    float: left;
  }
  .monster-info .monster-size.tiny {
    width: 1.5em;
  }
  .monster-info .monster-size.small {
    width: 2.5em;
  }
  .monster-info .monster-size.medium {
    width: 2.5em;
  }
  .monster-info .monster-size.large {
    width: 5em;
  }
  .monster-info .monster-size.huge {
    width: 7.5em;
  }
  .monster-info .monster-size.gargantuan {
    width: 10em;
  }
  .monster-info .stats {
  }
  .monster-info .stats::after, .monster-info .skills::after {
    content: '';
    display: block;
    clear: both;
  }
    .monster-info .stat, .monster-info .skill {
      float: left;
      width: 50%;
      padding: 0.5em 1em;
    }
      .monster-info .stat .stat-proficient, .monster-info .skill .skill-proficient {
        display: block;
        float: left;
        width: 10%;
        text-align: right;
        font-weight: bold;
      }
      .monster-info .stat .stat-name, .monster-info .skill .skill-name {
        display: block;
        float: left;
        width: 50%;
        font-weight: bold;
      }
      .monster-info .stat .stat-value {
        display: block;
        float: left;
        width: 25%;
        text-align: right;
      }
      .monster-info .stat .stat-modifier, .monster-info .skill .skill-modifier {
        display: block;
        float: left;
        width: 25%;
        text-align: right;
      }

.ability {
  padding: 0.5em;
}
  .ability .ability-name {
    font-weight: bold;
  }
