.monster-name-results {
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
}
  .monster-name {
    padding: 0.5em;
    border: 1px solid #aaaaaa;
    background-color: #dddddd;
  }
    .monster-name:hover {
      background-color: #bbbbbb;
      cursor: pointer;
    }

.remove-button {
  padding: 0.5em;
  border: 1px solid #aa0000;
  background-color: #ee9999;
}
  .remove-button:hover {
    background-color: #eebbbb;
    cursor: pointer;
  }

.list {
  margin-left: 0.5em;
}
  .list .item {

  }
    .list .item .item-name {
      font-weight: bold;
    }

.monster {
  position: relative;
  float: left;
  width: 20em;
}
  .remove-monster {
    position: absolute;
    top: 0;
    right: 0;
  }
  .monster-ac {
    position: absolute;
    top: 2em;
    right: 0;
    height: 3.3em;
    width: 3em;
    background-image: url('/img/ac.png');
    background-size: cover;
    line-height: 3.3em;
    text-align: center;
    font-size: 1.5em;
  }
  .monster-image {
    display: block;
    width: 50%;
    margin: auto;
  }
  .toggle {
    cursor: pointer;
  }
  .stats::after {
    content: '';
    display: block;
    clear: both;
  }
    .stat {
      padding: 0 5%;
    }
      .stat .stat-name {
        display: block;
        float: left;
        width: 15%;
        font-weight: bold;
      }
      .stat .stat-value {
        display: block;
        float: left;
        width: 15%;
        text-align: right;
      }
      .stat .stat-modifier {
        display: block;
        float: left;
        width: 15%;
        text-align: right;
      }
  .actions {

  }
    .action {
      padding: 0.5em 1em;
    }
      .action .action-name {
        font-weight: bold;
      }
  .creature-details {
    margin: 2.1em 0;
  }
    .identifier {
      margin: 0.5em;
    }
    .health-modifier-button {
      padding: 0.5em;
      border: 1px solid #aaaaaa;
      background-color: #dddddd;
    }
      .health-modifier-button:hover {
        background-color: #bbbbbb;
        cursor: pointer;
      }
    .health {
      padding: 1em;
      border: 1px solid #aa0000;
      border-radius: 2em;
      background-color: #ee5555;
    }
  .remove-creature {
    margin-left: 0.5em;
  }
  .add-creature {
    width: 1em;
    padding: 0.5em;
    border: 1px solid #00aa00;
    background-color: #99ee99;
  }
    .add-creature:hover {
      background-color: #bbeebb;
      cursor: pointer;
    }
